.modal-content {
    border-radius: 0.1875rem;
    border: none;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5); }
    .modal-content .modal-header {
      border-bottom: none;
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 0;
      padding-left: 24px; }
      .modal-content .modal-header button {
        position: absolute;
        right: 27px;
        top: 30px;
        outline: 0; }
      .modal-content .modal-header .title {
        margin-top: 5px;
        margin-bottom: 0; }
    .modal-content .modal-body {
      padding-top: 24px;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      line-height: 1.9; }
    .modal-content .modal-footer {
      border-top: none;
      padding-right: 24px;
      padding-bottom: 16px;
      padding-left: 24px;
      -webkit-justify-content: space-between;
      /* Safari 6.1+ */
      justify-content: space-between; }
      .modal-content .modal-footer button {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
        width: auto; }
        .modal-content .modal-footer button.pull-left {
          padding-left: 5px;
          padding-right: 5px;
          position: relative;
          left: -5px; }
    .modal-content .modal-body + .modal-footer {
      padding-top: 0; }
  
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.3); }
  
  .modal.modal-mini p {
    text-align: center; }
  
  .modal.modal-mini .modal-dialog {
    max-width: 255px;
    margin: 0 auto; }
  
  .modal.modal-mini .modal-profile {
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 5.7;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3); }
    .modal.modal-mini .modal-profile i {
      color: #f96332;
      font-size: 21px; }
    .modal.modal-mini .modal-profile[class*="modal-profile-"] i {
      color: #FFFFFF; }
    .modal.modal-mini .modal-profile.modal-profile-primary {
      background-color: #f96332; }
    .modal.modal-mini .modal-profile.modal-profile-danger {
      background-color: #FF3636; }
    .modal.modal-mini .modal-profile.modal-profile-warning {
      background-color: #FFB236; }
    .modal.modal-mini .modal-profile.modal-profile-success {
      background-color: #18ce0f; }
    .modal.modal-mini .modal-profile.modal-profile-info {
      background-color: #2CA8FF; }
  
  .modal.modal-mini .modal-footer button {
    text-transform: uppercase; }
    .modal.modal-mini .modal-footer button:first-child {
      opacity: .5; }
  
  .modal.modal-default .modal-content {
    background-color: #FFFFFF;
    color: #2c2c2c; }
  
  .modal.modal-default .modal-header .close {
    color: #2c2c2c; }
  
  .modal.modal-primary .modal-content {
    background-color: #f96332;
    color: #FFFFFF; }
  
  .modal.modal-primary .modal-header .close {
    color: #FFFFFF; }
  
  .modal.modal-danger .modal-content {
    background-color: #FF3636;
    color: #FFFFFF; }
  
  .modal.modal-danger .modal-header .close {
    color: #FFFFFF; }
  
  .modal.modal-warning .modal-content {
    background-color: #FFB236;
    color: #FFFFFF; }
  
  .modal.modal-warning .modal-header .close {
    color: #FFFFFF; }
  
  .modal.modal-success .modal-content {
    background-color: #18ce0f;
    color: #FFFFFF; }
  
  .modal.modal-success .modal-header .close {
    color: #FFFFFF; }
  
  .modal.modal-info .modal-content {
    background-color: #2CA8FF;
    color: #FFFFFF; }
  
  .modal.modal-info .modal-header .close {
    color: #FFFFFF; }
  
  .modal.show.modal-mini .modal-dialog {
    -webkit-transform: translate(0, 30%);
    -o-transform: translate(0, 30%);
    transform: translate(0, 30%); }
  
  .modal .modal-header .close {
    color: #FF3636;
    text-shadow: none; }
    .modal .modal-header .close:hover, .modal .modal-header .close:focus {
      opacity: 1; }