.salelist{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 15%;
    margin-right: 15%;

  }

.rentlist{
    text-align: center;
    
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 15%;
    margin-right: 15%;

  }

  .leaseapplication{
    text-align: center;
    
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 15%;
    margin-right: 15%;

  }

  .submit{
    color:white;
  }